audio {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 100%;
}

#back-button {
  background-color: #3b5d50;
  color: white;
  border: none;
  font-family: "Noto Sans", sans-serif;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#back-button:hover {
  background-color: #3b5d50; /* Slightly darker purple on hover */
}

body {
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9; /* Off-white background */
  color: #333; /* Dark text color */
}

button {
  font-family: "Noto Sans", sans-serif;
}

#filter-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  gap: 10px;
  margin: 0 auto; /* Ensure it's centered relative to its parent */
  width: 100%; /* Make it span the width of its container */
  max-width: 800px; /* Optional: Limit the width for better design */
  padding: 1em 0; /* Add padding for spacing */
}

#filter-container input,
#filter-container select {
  width: 80%;
  max-width: 400px;
  padding: 8px;
  font-family: "Noto Sans", sans-serif;
  font-size: 1em;
}

h1 {
  font-family: "Grenze Gotisch", serif !important;
  font-size: 44px;
  margin: 0.5em 0;
}

h2 {
  font-family: "Noto Sans", sans-serif;
  margin: 0.5em 0;
}

header {
  background-color: #3b5d50;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.japanese-sentence {
  font-family: "Noto Serif", serif; /* Adjust to the appropriate English font */
  color: black; /* Set a color for Japanese text */
}

.english-sentence {
  font-family: "Noto Serif", serif; /* Adjust to the appropriate English font */
  color: gray; /* Set a different color for English text */
}

li {
  display: flex; /* Flexbox for alignment */
  justify-content: space-between; /* Space between title and CEFR */
  align-items: center; /* Vertical alignment */
  background: #fff;
  margin: 0.5em 0;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Noto Sans", sans-serif;
}

li:hover {
  background-color: #f1f1f1;
}

li .cefr-value {
  text-align: center;
  font-weight: bold;
  color: #555; /* Subtle color for contrast */
  width: 50px; /* Fixed width for consistent alignment */
}

main {
  padding: 1em;
}

/* Style for the story content */
#story-content {
  background: #fff; /* Same white background as story list items */
  border: 1px solid #ddd; /* Light border for separation */
  border-radius: 5px; /* Rounded corners for consistency */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  margin: 1em 0 0 0;
  padding: 1em 2em 0 2em;
  font-family: "Noto Serif", serif;
}

#story-content > div {
  margin-bottom: 20px; /* Margin for each sentence couplet */
}

/* Story list and story content */
#story-list,
#story-viewer {
  max-width: 800px; /* Limit the width */
  margin: 0 auto; /* Center align */
}

ul {
  list-style: none;
  padding: 0;
}

/* Add margins for wide screens */
@media (max-width: 1200px) {
  #story-content {
    padding: 1em 1em 0em 1em;
  }
}
